.MoviesCardList__container {
  margin: 80px 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 32px 30px;
}

@media screen and (max-width: 1024px) {
  .MoviesCardList__container {
    grid-template-columns: repeat(auto-fit, 342px);
    gap: 35px 24px;    
  }
}

@media screen and (max-width: 425px) {
  .MoviesCardList__container {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 15px 0;    
    margin: 50px 0 0;
  }
}

.MoviesCardList__button {
  width: 100%;
  height: 36px;
  background: #F9F9F9;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin: 60px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .MoviesCardList__button {
    margin: 80px 0 0 0;
  }
}

@media screen and (max-width: 425px) {
  .MoviesCardList__button {
    margin: 82px 0 0 0;
  }
}