.MovieCard {
  background: #FDFDFD;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media screen and (max-width: 425px) {
  .MovieCard {
    gap: 14px;
  }
}

.MovieCard__header {
  display: flex;
  justify-content: space-between;
  margin: 18px 32px 0 14px;
}

@media screen and (max-width: 425px) {
  .MovieCard__header {
    margin: 14px 22px 0 14px;
  }
}

.MovieCard__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

@media screen and (max-width: 1024px) {
  .MovieCard__title {
    max-width: 240px;
  }
}

@media screen and (max-width: 425px) {
  .MovieCard__title {
    max-width: 200px;
    font-size: 12px;
    line-height: 150%;
  }
}

.MovieCard__duration {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  color: #A0A0A0;
}

@media screen and (max-width: 425px) {
  .MovieCard__duration {
    font-size: 10px;
    line-height: 180%;
  }
}

.MovieCard__img {
  width: 360px;
  height: 200px;
}

@media screen and (max-width: 1024px) {
  .MovieCard__img {
    width: 342px;
    height: 190px;
  }
}

@media screen and (max-width: 425px) {
  .MovieCard__img {
    width: 300px;
    height: 168px;
  }
}

.MovieCard__button {
  border: none;
  background: #F9F9F9;
  border-radius: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 92%;
  width: 100px;
  height: 29px;
  align-self: center;
  margin: 0 0 18px 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .MovieCard__button {
    margin: 0 0 14px 0;
  }
}

.MovieCard__button_active {
  background: #FF3055;
}