.Main {
  display: flex;
  flex-direction: column;
}

.block-header {
  font-weight: 400;
  font-size: 22px;
  line-height: calc((27/22)*100%);
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
  padding-bottom: 22px;
}

@media screen and (max-width: 768px) {
  .block-header {
    font-size: 18px;
    line-height: calc((22/18)*100%);
    padding-bottom: 27px;
  }
}