.SearchForm {
  position: relative;
  margin-top: 70px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 69px;
}

@media screen and (max-width: 1024px) {
  .SearchForm {
    margin-top: 80px;
    padding-bottom: 109px;
  }
}

.SearchForm__main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  border-radius: 9px;
  background: #F9F9F9;
}

@media screen and (max-width: 425px) {
  .SearchForm__main-container {
    flex-direction: column;
    gap: 46px;
  }
}

.SearchForm__search-container {
  position: relative;
  flex-basis: 887px;
}

@media screen and (max-width: 1024px) {
  .SearchForm__search-container {
    flex-basis: 503px;
  }
}

.SearchForm__input {
  margin: 0;
  padding: 0 0 0 29px;
  border: none;
  background: #F9F9F9;
  height: 72px;
  width: 100%;
  border-radius: 9px;
}

@media screen and (max-width: 425px) {
  .SearchForm__input {
    width: 94%;
  }
}

.SearchForm__input-error {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -22px;
  left: 30px;
  font-weight: 400;
  font-size: 11px;
  line-height: calc((13/11)*100%);
  color: #FF004C;
}

.SearchForm__input-background {
  position: absolute;
  top: 26px;
  left: 30px;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .SearchForm__input-background {
    left: -4px;
  }
}

@media screen and (max-width: 425px) {
  .SearchForm__input-background-img {
    display: none;
  }
}

.SearchForm__input-background-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #A0A0A0;
}

@media screen and (max-width: 425px) {
  .SearchForm__input-background-text {
    font-size: 14px;
    line-height: 143%;
  }
}

.SearchForm__submit {
  position: absolute;
  top: 19px;
  right: 4px;
  margin: 0;
  padding: 0;
  border: none;
  background: url('../../images/find.svg') no-repeat;
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 1024px) {
  .SearchForm__submit {
    right: -2px;
  }
}

@media screen and (max-width: 425px) {
  .SearchForm__submit {
    right: -4px;
  }
}

.splitter {
  background: #E8E8E8;
  transform: rotate(90deg);
  height: 1px;
  width: 40px;
}

@media screen and (max-width: 425px) {
  .splitter {
    display: none;
  }
}