.Header {
  margin: 18px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .Header {
    margin: 18px 30px;
  }
}

@media screen and (max-width: 425px) {
  .Header {
    margin: 18px 14px;
  }
}

.Header__logo-link {
  height: 38px;
  width: 38px;
}

.Header__logo {
  height: 38px;
  width: 38px;
}

.Header__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .Header__container {
    gap: 8px;
  }
}

.Header__landing-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  color: #000000;
  text-decoration: none;
  width: 76px;
}

@media screen and (max-width: 425px) {
  .Header__landing-link {
    font-size: 10px;
    line-height: calc((16/10)*100%);
  }
}

.Header__landing-link_colored {
  height: 32px;
  background: #2BE080;
  border-radius: 3px;
}

@media screen and (max-width: 425px) {
  .Header__landing-link_colored {
    height: 26px;
    width: 54px;
  }
}
