.AboutProject {
  margin: 111px 70px 109px;
}

@media screen and (max-width: 1024px) {
  .AboutProject {
    margin: 91px 50px;
  }
}

@media screen and (max-width: 720px) {
  .AboutProject {
    margin: 71px 18px;
  }
}

.AboutProject__title {
  margin: 0;
  padding: 0;
}

.AboutProject__list-text {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 53px;
  margin: 70px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .AboutProject__list-text {
    gap: 37px;
  }
}

@media screen and (max-width: 720px) {
  .AboutProject__list-text {
    flex-direction: column;
    margin: 61px 0 0 0;
    gap: 56px;
  }
}

.AboutProject__list-text-el-header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: calc((24/20)*100%);
  letter-spacing: -0.04em;
}

@media screen and (max-width: 425px) {
  .AboutProject__list-text-el-header {
    font-size: 18px;
    line-height: calc((22/18)*100%);
  }
}

.AboutProject__list-text-el-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  margin: 26px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .AboutProject__list-text-el-text {
    font-size: 12px;
    line-height: 150%;
    margin-top: 22px;
  }
}

@media screen and (max-width: 720px) {
  .AboutProject__list-text-el-text {
    font-size: 11px;
    line-height: 145%;
    margin-top: 16px;
  }
}

.AboutProject__list-graph {
  list-style-type: none;
  display: grid;
  grid-template-columns: 228px 1fr;
  margin: 110px 0 0;
  padding: 0;
  gap: 15px 0;
}

@media screen and (max-width: 1024px) {
  .AboutProject__list-graph {
    grid-template-columns: 140px 1fr;
    gap: 14px 0;
    margin: 93px 0 0;
  }
}

@media screen and (max-width: 720px) {
  .AboutProject__list-graph {
    margin: 60px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .AboutProject__list-graph {
    grid-template-columns: 100px 1fr;
    gap: 10px 0;
  }
}

.AboutProject__list-graph-header {
  font-weight: 400;
  font-size: 14px;
  line-height: calc((17/14)*100%);
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
}

@media screen and (max-width: 425px) {
  .AboutProject__list-graph-header {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
}

.AboutProject__list-graph-header_color-fill {
  background: #2BE080;
}

.AboutProject__list-graph-header_color-empty {
  background: #F2F2F2;
}

.AboutProject__list-graph-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 121%;
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  padding: 0;
  min-height: 17px;
}

@media screen and (max-width: 425px) {
  .AboutProject__list-graph-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
  }
}